{% if files %}
    {% set decoded_json = files|json_decode %}
    {% set file_ext = decoded_json.0.file_name|split('.')[1] %}
    {% if decoded_json.0 %}
    {% set file_name = decoded_json.0.file_name %}
    {% set thumbnail = decoded_json.0.thumbnail %}
    {% if file_ext == "jpg" or file_ext == "jpeg" or file_ext == "png" or file_ext == "gif" %}
        <a href="{{ config.access_point }}{{ board }}/
{% if post.thread_id %}
{{ post.thread_id }}#{{ post.id }}
{% else %}
{{ post.id }}
{% endif %}
">
            <img class="recent_post_img" src="{% if config.enable_cdn %}{{ config.cdn_url }}{% else %}{{ config.access_point }}{% endif %}{{ config.file_dir }}{{ board }}/{% if thumbnail %}{{ thumbnail }}{% else %}{{ file_name }}{% endif %}">
        </a>
    {% else %}
        <img class="recent_post_img" src="{{ config.access_point }}img/file.jpg"></a>
    {% endif %}
        {% endif %}
{% endif %}
